.example-spacer {
    flex: 1 auto;
  }

.header-menu{
    display: flex;
    list-style: none;
    width: 70vw;
    justify-content: flex-start;
}
.link-menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
li{
    padding-right: 2vw;
}
a{
    color:rgb(219, 235, 74);
    text-decoration: none;
    opacity: 0.5;
}
/* .active kontrol et*/
.header-menu li:hover, .active{
    opacity: 1;
}


.mat-toolbar{
    display: flex;
    justify-content: space-between;
}

.login-button{
    list-style: none;
}
