<header class="header">
    <mat-toolbar color="primary">
        <span>Business Cards</span>
        <div class="link-menu">   
       <ul class="header-menu">
           <li><a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a></li>
           <li><a routerLink='/about' routerLinkActive="active" >About</a></li>
           <li><a routerLink='/cards' routerLinkActive="active" >My Cards</a></li>  
           <li><a routerLink='/todo' routerLinkActive="active" >ToDo</a></li>  
       </ul>
       <ul class="login-button">
           <li>
               <app-login-button></app-login-button>    
           </li>
       </ul> 
        </div>
      
      
    </mat-toolbar> 
   
</header>
       
<!-- *ngIf="auth.user$ | async as user" -->