/* .example-spacer {
    flex: 1 auto;
  } */

.header-menu{
    display: flex;
    list-style: none;
    width: 50vw;
    justify-content: space-between;
}
a{
    color:black;
    text-decoration: none;
    opacity: 0.5;
}
/* .active kontrol et*/
.header-menu li:hover, .active{
    opacity: 1;
}


.mat-toolbar{
    display: flex;
    justify-content: space-between;
}

.login-button{
    list-style: none;
}
