<main>
    <h1 class="page-title">Business Card Home Page</h1>
    <ng-container *ngIf="auth.isAuthenticated$ | async as user; else loggedOut">
    <ul class="" *ngIf="auth.user$ | async as user">
         <li>
           <img class="profil-circle"src="{{user.picture}}" alt="Profil Photo"> 
        </li> 
        <li>
        Welcome {{user.name}}
        </li>
        <li>
        {{user.email}}
        </li>
    </ul>
  </ng-container>
 <ng-template #loggedOut>
   <p>Please login or register to the system.</p>
</ng-template>
</main>



 