<main>
    <h1 class="page-title">My Cards</h1>
    <p class="page-description">Here you can manage your cards.</p>
    <hr>
    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Profession</mat-card-title>
      <mat-card-subtitle>FirstName LastName</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>555 5555 555 </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>mehmet@gmail</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Luzern</mat-list-item>
          </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</main>

  