

.card-container{
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.cards-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-card-cursor{
  cursor: pointer;
}

.card-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}