/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
    padding:2%;
}

.page-title{
    font-size: 2em;
    color: #333;
}

.page-description{
    font-size: 1em;
    color: #777;
}

.mat-list-item-content{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}